/* CV styles */

/* Heading */

h6 {
    font-family: "Open Sans", sans-serif;
    margin: 2px;
}

h1 {
    font-family: "Merriweather", serif;
    font-size: 2.5rem;
}

hr {
    height: 5px;
    background-color: #595959;
}

.contact {
    color: #000;
}

a {
    text-decoration: none;
    color: inherit;
}

.stripes {
    color: #2079cf;
}

/* Main content */

body {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
    "name details"
    "intro  skills"
    "education skills"
    "education languages"
    "experience languages"
    "experience certificates"
    "experience projects";
    align-items: start;
    grid-gap: 1em;
    column-gap: 4em;
    margin: 1em;
    padding: 1em;
}

p {
    font-family: "Open Sans", sans-serif;
}

li {
    font-family: "Merriweather", serif;
    font-size: 15px;
    padding: 5px;
}

body {
    margin-left: 20px;
}

/* Sections */

.sections {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #2079cf;
}

.experience {
    font-family: "Merriweather", serif;
    font-weight: bold;
}

.timeframe {
    font-size: 10px;
}

/* Grid sections */

#name {
    grid-area: name;
}

#intro {
    grid-area: intro;
}

#details {
    grid-area: details;
}

#education {
    grid-area: education;
}

#experience {
    grid-area: experience;
}

#skills {
    grid-area: skills;
    list-style-type: none;
}

#languages {
    grid-area: languages;
}

#certificates {
    grid-area: certificates;
}

#projects{
    grid-area: projects;
}

#languages, #certificates, #projects {
    align-self: center;
}

#skills ul, #languages ul {
    list-style-type: none;
    padding-left: 1em;
}

#skills li:before, #languages li:before {
    content: "➣ ";
    color: #8b0000;
    padding-right: 5px;
}