/* Main sections */

body {
    font-family: tahoma;
    margin: 2rem;
    padding: 0.5rem;
}

header, article {
    background-color: lightgrey;
}

article {
    display: flex;
    margin: 0;
    padding: 0.5rem;
    padding-bottom: 1rem;
}

.text {
    display: flex;
    flex-direction: column;
}

/* Heading styles */

header {
    padding: 1rem;
}

h1, h2 {
    color: black;
    font-size: 1.5rem;
    margin: 1rem;
    margin-left: 0;
}

h3 {
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}

/* Line styles */

hr {
    background-color: lightgreen;
    height: 0.1rem;
    border: none;
    margin: 0;
    padding: 0;
}